body {
    background: black; /* Set black background for the entire website */
}

.container {
    width: 80%;
    margin: 50px auto;
    padding: 20px 40px;
    padding-left: 15px;
    background-color: gray;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Adding box shadow */
}


.user-input {
    margin-bottom: 20px;
}

.user-input input[type="email"],
.user-input textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
}

#user-select {
    width: 100%; /* Extend horizontally to cover the container */
    padding: 10px 15px; /* Equal padding on the left and right */
    font-size: 16px;
    border: 1px solid gray;
    border-radius: 5px;
    box-sizing: border-box; /* Ensures padding and border are included in the width */
}





button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 12px;
}

button:hover {
    background-color: #0056b3;
}
