body {
    font-family: Arial, sans-serif;
    background-color: #121212; /* Dark background color */
    color: #ffffff; /* Light text color */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100vh;
}

.container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100vh;
}

.signup-container {
    padding: 20px;
}

.signup-box {
    background-color: #272727; /* Dark background color */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1); /* Light shadow color */
    width: 100%; /* Ensure it takes full width */
    max-width: 400px; /* Limit the width */
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #ffffff; /* Light text color */
}

.input-group {
    margin-bottom: 15px;
}

.label-input-group {
    display: flex;
    flex-wrap: wrap; /* Allow wrapping of fields */
    margin-bottom: 15px; /* Add margin between lines of fields */
}

.label-input-group .input-group {
    flex: 1;
    margin-right: 10px; /* Add margin between fields */
}

.label-input-group .input-group:last-child {
    margin-right: 0;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #ffffff; /* Light text color */
}

input[type="email"],
input[type="password"],
input[type="date"],
input[type="text"],
input[type="tel"] {
    width: calc(100% - 20px); /* Adjust width to include padding */
    padding: 10px;
    border: 1px solid #ffffff; /* Light border color */
    border-radius: 3px;
    background-color: #3a3a3a; /* Dark background color */
    color: #ffffff; /* Light text color */
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #007bff; /* Accent color */
    color: #ffffff; /* Light text color */
    border-radius: 3px;
    cursor: pointer;
    margin-top: 10px; /* Add margin between last field and button */
}

button:hover {
    background-color: #0056b3; /* Darker accent color on hover */
}
